%ul.main-page__body__side-bar__nav__list
  %li.main-page__body__side-bar__nav__list__item
    = link_to '', class: 'main-page__body__side-bar__nav__list__item__text-link' do
      売上・振込申請
      = fa_icon 'angle-right', class: 'main-page__body__side-bar__nav__list__item__icon-arrow-right'
  %li.main-page__body__side-bar__nav__list__item
    = link_to '', class: 'main-page__body__side-bar__nav__list__item__text-link' do
      ポイント
      = fa_icon 'angle-right', class: 'main-page__body__side-bar__nav__list__item__icon-arrow-right'
