.main-page__body__side-bar
  %nav.main-page__body__side-bar__nav
    = render 'users/sidebar/general-list'
    %h3.main-page__body__side-bar__nav__title
      メルペイ
    = render 'users/sidebar/merpay-list'
    %h3.main-page__body__side-bar__nav__title
      設定
    = render 'users/sidebar/setting-list'