$white: #fff;
$light-white: #fafafa;
$dark-white: #f5f5f5;
$cream: #fff6de;
$light-gray: #eee;
$gray: #ccc;
$dark-gray: #888;
$google-gray: #979797;
$super-gray: #aaa;
$black: #333;
$light-black: #212121;
$dark-black: #000;
$transparent-dark-black: rgba(0,0,0,0.4);
$light-transparent-dark-black: rgba(0,0,0,0.16);
$light-red: #fadbda;
$red: #ea352d;
$piterest-red: #aa262a;
$orange: #fba933;
$light-blue: #6ab5d8;
$blue: #0099e8;
$dark-blue: #385185;
$twitter-blue: #5d9dc9;
$light-green: #dff0d8;
$green: #05B0B4;
$dark-green: #468847;
$line-green: #00c137;
