%footer.single-page__footer
  %nav.single-page__footer__list-wrap
    %ul.single-page__footer__list
      %li.single-page__footer__list__item
        %a.single-page__footer__list__link
          プライバシーポリシー
      %li.single-page__footer__list__item
        %a.single-page__footer__list__link
          メルカリ利用規約
      %li.single-page__footer__list__item
        %a.single-page__footer__list__link
          特定商取引に関する表記
  %a.single-page__footer__mercari-logo
    = image_tag('logo-gray.svg', size: "80x65", alt: "mercari", class: 'single-page__footer__mercari-logo__image')
  %p.single-page__footer__text
    %small.single-page__footer__text__small
      © 2019 Mercari
