%li.main-page__header__nav-box__left-box__list__item__parent-wrap__parent
  %h3.main-page__header__nav-box__left-box__list__item__parent-wrap__parent__title
    = link_to 'シャネル', '', class: 'main-page__header__nav-box__left-box__list__item__parent-wrap__parent__link'
