%div{ class: first_add_active_class_name(i, "main-page__body__top-banner__contents__container__content") }
  = link_to "", "", class: "main-page__body__top-banner__contents__container__content__camp-link"