%section.main-page__body__pickup-container
  %h2.main-page__body__pickup-container__title
    ピックアップカテゴリー
  = render 'items/index/index-items-container'
  = render 'items/index/index-items-container'
  = render 'items/index/index-items-container'
  = render 'items/index/index-items-container'
