%section.main-page__body__pickup-container
  %h2.main-page__body__pickup-container__title
    = title
  - pickups.each do |pickup|
    = render 'items/index/index-items-container', { pickup: pickup }
