.main-page__body__content__chapter
  .main-page__body__content__chapter__inner
    .main-page__body__content__chapter__inner__content
      = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'main-page__body__content__chapter__inner__content__btn main-page__body__content__chapter__inner__content__btn--red'