%li.main-page__header__nav-box__left-box__list__item__parent-wrap__parent__child-wrap__child__grand-child-wrap__grand-child
  = link_to small_category.name, small_category_path(small_category.id), class: 'main-page__header__nav-box__left-box__list__item__parent-wrap__parent__child-wrap__child__grand-child-wrap__grand-child__link'