.main-page__header__nav-box__left-box__list {
  &__item {
    position: relative;
    display: inline-block;
    padding: 0 11px;
    cursor: pointer;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}