.main-page__body__side-bar__nav__list__item--current {
  &__text-link {
    @include bold();
    background: $light-gray;
    &:hover {
      background-color: $light-gray;
    }
  }
  &__icon-arrow-right {
    color: $black;
  }
}