.main-page__body__content__tab-container__title-list {
  &__item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 50%;
    &--active {
      background: $white;
      border-top: solid 2px;
      border-color: $red;
    }
  }
}