.main-page__body__top-banner__nav {
  &__angle {
    cursor: pointer;
    height: 46px;
    width: 31px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-23px);
    transform: translateY(-23px);
    &--prev {
      background-image: image-url("carousel-prev.png");
      left: 60px;
    }
    &--next {
      background-image: image-url("carousel-next.png");
      right: 60px;
    }
  }
}