.main-page__comment {
  &__container {
    padding: 24px;
    background: $white;
    &__form {
      &__text {
        padding: 8px;
        font-size: 14px;
        background: $cream;
      }
      &__input-text {
        display: block;
        width: 100%;
        max-width: 100%;
        min-height: 104px;
        padding: 10px;
        border: 1px solid $gray;
        background: $white;
        font-size: 16px;
        line-height: 1.5;
        margin: 8px 0 0;
      }
      &__submit-btn {
        display: block;
        line-height: 48px;
        -webkit-transition: all ease-out .3s;
        transition: all ease-out .3s;
        cursor: pointer;
        background: $super-gray;
        border: 1px solid $super-gray;
        color: $white;
        width: 100%;
        margin: 8px 0 0;
        font-size: 0;
        text-align: center;
        font-size: 14px;
        &--sold-out {
          border: 1px solid $dark-gray;
          background: $dark-gray;
          color: $white;
          cursor: not-allowed;
        }
      }
    }
  }
}