.main-page__header__nav-box__left-box__list__item__parent-wrap__parent__child-wrap__child__grand-child-wrap {
  &__grand-child {
    display: none;
    width: 320px;
    &--active {
      display: block;
    }
  }
}