.main-page__body__content__chapter__form__content {
  &__group {
    margin: 40px 0 0;
    &:first-child {
      margin: 0;
    }
  }
  &__submit-btn {
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
    background: $red;
    border: 1px solid $red;
    color: $white;
    margin: 24px 0 0;
    margin-top: 32px;
  }
}