.main-page__header__nav-box__right-box__list__item__item-box__item__body__time {
  &__icon {
    font-size: 16px;
    color: $gray;
    margin: 0 8px 0 0;
  }
  &__text {
    vertical-align: middle;
  }
}