.main-page__body__content__chapter__form__content__group__credit-card-list {
  &__item {
    display: inline-block;
    margin: 0 0 0 8px;
    vertical-align: middle;
    &:first-child {
      margin: 0;
    }
  }
}