.main-page__item-container__content-box__detail__container__content {
  &__title {
    border-collapse: collapse;
    border: 1px solid $dark-white;
    padding: 8px;
    width: 39%;
    text-align: left;
    font-weight: 400;
    background: $light-white;
  }
  &__body {
    border-collapse: collapse;
    border: 1px solid $dark-white;
    padding: 8px;
    width: 61%;
    background: $white;
  }
}