.main-page__body__content {
  &__user {
    position: relative;
    height: 200px;
    padding: 20px;
    background-image: image-url("user-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }
  &__tab-container {
    margin: 40px 0 0;
    background: $white;
    &--notification-todo {
      margin: 0;
    }
  }
  &__chapter {
    margin: 40px 0 0;
    background: $white;
    &:first-child {
      margin: 0;
    }
  }
  &__nav-list {
    @include clearfix();
    margin: 0;
    &__item {
      float: left;
      margin: 16px 16px 0 0;
    }
  }
  &__item-box-container {
    @include clearfix();
    &__title {
      line-height: 1.4;
      font-size: 22px;
      margin: 24px 0 8px;
    }
    &__result-number {
      margin: 16px 0;
      font-size: 12px;
      color: $dark-gray;
    }
    &__content {
      @include clearfix();
      margin: 0 auto;
      width: auto;
      &__item {
        position: relative;
        float: left;
        margin: 0 20px 20px 0;
        background: $white;
        &--category-show {
          width: 188px;
          &:nth-child(5n) {
            margin-right: 0;
          }
        }
        &--search-result {
          width: 160px;
          &:nth-child(4n) {
            margin-right: 0;
          } 
        }
      }
    }
  }
  &__description {
    margin-top: 30px;
    overflow: hidden;
    border-radius: 4px;
    &__header {
      background-color: $red;
      text-align: center;
      &__title {
        color: $white;
        padding: 16px 8px;
      }
    }
  }
}