.main-page__item-container__btn-container__right-box__link {
  &__icon {
    font-size: 14px;
    vertical-align: middle;
  }
  &__context {
    display: inline-block;
    margin: 1px 0 0 8px;
    font-size: 14px;
    vertical-align: middle;
  }
}