.main-page__footer {
  &__inner {
    @include clearfix();
    margin: 0 auto;
    width: 1020px;
  }
  &__cell {
    display: block;
    float: left;
    margin-top: 18px;
    width: 23%;
    padding: 0 40px 0 0;
    vertical-align: top;
    &:first-child {
      padding: 0 20px 0 0;
      width: 20%;
    }
    &--columns {
      margin: 30px 0 0;
      margin-top: 18px;
      padding: 0 40px 0 0;
      width: 42%;
    }
    &--lang {
      padding: 0;
      margin-top: 18px;
      width: auto;
    }
  }
  &__bottom {
    margin: 30px auto 20px;
    width: 1020px;
  }
}