.main-page__header__nav-box__right-box__list__item__item-box__item__body {
  &__text {
    overflow: hidden;
    display: block;
    display: -webkit-box;
    max-height: 4.4em;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    line-height: 1.5;
  }
  &__time {
    display: inline-block;
    color: $dark-gray;
  }
}
