.main-page__bread-crumbs {
	&__list {
		overflow: visible;
		width: 1020px;
		min-width: 1068px;
		margin: 0 auto;
		padding: 16px 0;
		white-space: normal;
		a {
			display: inline-block;
			font-size: 14px;
			line-height: 1.2;
			text-overflow: ellipsis;
			white-space: nowrap;
			color: $black;
			&:hover {
				text-decoration: underline;
				color: $dark-gray;
			}
		}
		i {
			margin: 0 8px;
			font-size: 16px;
			color: $dark-gray;
		}
		.current {
			display: inline-block;
			font-size: 14px;
			line-height: 1.2;
			text-overflow: ellipsis;
			white-space: nowrap;
			font-weight: 600;
		}
	}
}