.main-page__header__nav-box__left-box__list__item__parent-wrap__parent__child-wrap__child {
  &__title {
    font-weight: 400;
    font-size: 14px;
  }
  &__link {
    display: block;
    color: $black;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    padding: 8px 16px;
    &--no-child {
      padding: 0 16px;
      line-height: 44px;
    }
    &:hover {
      background-color: $dark-white;
    }
  }
  &__grand-child-wrap {
    position: absolute;
    top: 0;
    left: 224px;
    bottom: 0;
    background: $white;
    -webkit-box-shadow: 1px 0 0 0 $light-gray inset;
    box-shadow: 1px 0 0 0 $light-gray inset;
  }
}