.main-page__header__nav-box__right-box__list__item__item-box--mypage__user-figure {
  &__image-wrap {
    overflow: hidden;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.08);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.08);
  }
  &__image {
    width: 60px;
    height: 60px;
  }
  &__name {
    margin: 8px 0 0;
    padding: 0 8px;
    font-size: 16px;
  }
}