.main-page__other-items {
  &__contents {
    @include clearfix();
    width: 700px;
    margin: 0 auto;
    &:last-child {
      margin-bottom: 40px;
    }
    &__title {
      line-height: 1.4;
      font-size: 22px;
      margin: 24px 0 8px;
    }
    &__box {
      @include clearfix();
      margin: 0 auto;
      width: auto;
    }
  }
}