.main-page__header {
  &__inner {
    width: 1020px;
    min-width: 1068px;
    margin: 0 auto;
    padding: 8px 0 0;
  }
  &__top {
    display: flex;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  &__nav-box {
    margin: 8px 0 0;
    @include clearfix();
  }
}