.main-page__body__content__chapter__form {
  &__profile-icon {
    padding: 72px 16px 24px;
    background-image: image-url("user-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 0;
  }
  &__profile-content {
    padding: 40px 16px;
  }
}