.main-page__social-media__box__content {
  &__link {
    display: block;
  }
  &__icon {
    width: 44px;
    height: 44px;
    border-radius: 4px;
    line-height: 44px;
    &--facebook {
      font-size: 26px;
      color: $white;
      background: $dark-blue;
    }
    &--twitter {
      font-size: 24px;
      color: $white;
      background: $twitter-blue;
    }
    &--line {
      color: $white;
      background: $line-green;
      font-size: 22px;
    }
    &--pinterest {
      color: $white;
      background: $piterest-red;
      font-size: 18px;
    }
  }
}