.main-page__body__content__chapter__form {
  &__profile-icon {
    padding: 72px 16px 24px;
    background-image: image-url("user-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 0;
  }
  &__profile-content {
    padding: 40px 16px;
  }
  &__group {
    margin: 40px 0 0;
    &:first-child {
      margin: 0;
    }
  }
  &__submit-btn {
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
    background: $red;
    border: 1px solid $red;
    color: $white;
    margin: 40px 0 0 0;
  }
  &__content {
    max-width: 343px;
    margin: 0 auto;
  }
}