.main-page__header__nav-box__left-box__list__item__parent-wrap__parent__child-wrap__child__grand-child-wrap__grand-child {
  &__link {
    display: block;
    color: $black;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    padding: 8px 16px;
    &:hover {
      background-color: $dark-white;
    }
  }
}