.main-page__header__nav-box__right-box__list__item__item-box--mypage__review-listing {
  &__item {
    display: inline-block;
    margin: 0 0 0 16px;
    font-size: 14px;
    &:first-child {
      margin: 0;
    }
  }
  &__link {
    display: block;
    font-size: 14px;
    color: $black;
  }
}