.main-page__body__content__chapter__inner {
  &__content {
    max-width: 320px;
    margin: 0 auto;
  }
  &__container {
    margin: 40px 0 0;
    background: $white;
    &:first-child {
      margin: 0;
    }
  }
  &__btn-container {
    padding: 24px 0;
    border-bottom: 1px solid $light-gray;
  }
}