.main-page__header__nav-box__right-box__list__item__item-box--mypage {
  &__user-state {
    text-align: center;
  }
  &__user-figure {
    padding: 28px 0 0;
    height: 80px;
    background: url(/images/user-bg.jpg);
    background-repeat: no-repeat;
    background-size: 320px 80px;
  }
  &__review-listing {
    margin: 40px 0 0;
    padding: 8px 8px 0;
    font-size: 0;
    text-align: center;
  }
  &__sales-point {
    width: 300px;
    margin: 16px auto;
    background: $light-white;
    border: 1px solid $light-gray;
  }
}