.main-page__body__content__chapter__inner__text {
  &__link {
    display: block;
    margin: 40px 0 0;
    text-align: right;
  }
  &__icon-angle-right {
    vertical-align: middle;
    &:last-child {
      margin: 0 0 0 8px;
    }
  }
}