.main-page__body__content__chapter__inner__btn-container__content {
  &__link {
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
    background: $red;
    border: 1px solid $red;
    color: $white;
    margin-bottom: 8px !important;
    margin: 0;
  }
}