.main-page__body__pickup-container {
  &__title {
    font-size: 28px;
    text-align: center;
  }
  &__items-container {
    @include clearfix;
    width: 940px;
    margin: 0 auto;
    &__title {
      text-align: center;
      font-size: 22px;
      margin: 26px 11px;
    }
    &__items-box {
      @include clearfix;
      width: auto;
      margin: 0 auto;
      &__item {
        position: relative;
        float: left;
        margin: 0 0 0 20px;
        width: 213px;
        background: $white;
        &__link {
          display: block;
          color: $black;
        }
        &__figure {
          overflow: hidden;
          position: relative;
          width: 100%;
          height: auto;
          padding: 0 0 100%;
          &__image {
            opacity: 1;
            -webkit-transition: opacity .3s;
            transition: opacity .3s;
            position: absolute;
            top: 50%;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
          }
          &__caption {
            &__badge {
              &__text {
                top: 18px;
                font-size: 20px;
                position: absolute;
                left: 0;
                z-index: 2;
                color: $white;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                letter-spacing: 2px;
                font-weight: 600;
              }
              &:after {
                display: block;
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 80px 80px 0 0;
              }
              &--sold-out {
                &:after {
                  border-color: $red transparent transparent transparent;
                }
              }
            }
          }
        }
        &__body {
          height: 110px;
          padding: 16px;
          &__name {
            font-size: 16px;
            color: $black;
            overflow: hidden;
            position: relative;
            font-weight: 400;
            height: 3em;
            line-height: 1.5;
            word-break: break-word;
            white-space: normal;
            &:after {
              display: block;
              content: '';
              position: absolute;
              bottom: 0;
              right: 0;
              width: 50%;
              height: 1.5em;
              background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), color-stop(72%, $white));
              background: linear-gradient(to right, rgba(255,255,255,0), $white 72%);
            }
          }
          &__num {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            margin: 8px 0 0;
            &__price {
              font-weight: 600;
              color: $black;
              font-size: 17px;
            }
            &__like {
              font-size: 16px;
              font-weight: 400;
              color: $black;
              &__icon {
                color: $gray;
              }
            }
          }
        }
      }
    }
    &__all-view {
      text-align: right;
      padding: 20px 0 30px;
      width: 99.5%;
    }
  }
}