.main-page__item-container__content-box__photo-box__inner__select {
  &__content {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 60px;
    height: 60px;
    max-height: none;
    &--active {
      opacity: 1;
      cursor: default;
    }
  }
}