.main-page__header__nav-box__right-box__list__item--login {
  &__btn {
    display: inline-block;
    padding: 0 10px;
    line-height: 30px;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    margin: 0;
    &:first-child {
      margin: 0 0 0 6px;
    }
    &--blue {
      display: block;
      background: $white;
      border: 1px solid $blue;
      color: $blue;
      transition: all ease-out .3s;
    }
    &--red {
      display: block;
      background: $red;
      border: 1px solid $red;
      color: $white;
      float: left;
    }
  }
}