.main-page__body__content__user {
  &__link {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: $black;
    &:hover {
      opacity: .7;
      text-decoration: underline;
    }
  }
  &__figure {
    overflow: hidden;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 50%;
  }
  &__name {
    font-weight: 600;
    margin: 8px 0 0;
    font-size: 14px;
  }
  &__review-listing {
    margin: 8px 0 0;
    font-size: 0;
  }
}