.main-page__bread-crumbs__list__item {
  &__link {
    color: $black;
    &:hover {
      text-decoration: underline;
      color: $dark-gray;
    }
  }
  &__icon-arrow-right {
    margin: 0 8px;
    font-size: 16px;
    color: $dark-gray;
  }
}