.main-page__footer__cell {
  &__title {
    color: $white;
    font-size: 16px;
    font-weight: 100;
  }
  &__inner-cell {
    float: left;
    padding-left: 10px;
    vertical-align: top;
    width: 50%;
    &:first-child {
      padding: 0 10px 0 0;
    }
  }
}