.main-page__footer__bottom {
  &__logo {
    display: inline-block;
    margin-right: 10px;
    width: auto;
    color: $white;
    font-size: 12px;
    line-height: 1.5em;
    &:hover {
      opacity: .7;
    }
  }
  &__copyright {
    display: inline-block;
    margin: 8px 0 0;
    text-align: center;
    vertical-align: sub;
    width: 745px;
  }
}