.main-page__body__top-banner__contents__container__content__top-main__inner__content__link-list {
  &__link {
    display: inline-block;
    width: 170px;
    height: 50px;
    margin: 0 0 0 8px;
    &:first-child {
      margin: 0;
    }
  }
}