.main-page__item-container__content-box__photo-box__inner__show__container__content__inner {
  &__image {
    vertical-align: bottom;
    -webkit-transition: opacity 400ms ease;
    transition: opacity 400ms ease;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    height: 100%;
    margin: auto;
  }
}