.main-page__item-container__content-box__photo-box__inner__select__content {
  &__inner {
    overflow: hidden;
    pointer-events: none;
    position: static;
    width: auto;
    height: auto;
    padding: 0;
  }
}