.main-page__body__pickup-container__items-container__items-box__item__body__num {
  &__price {
    font-weight: 600;
    color: $black;
    font-size: 17px;
  }
  &__like {
    font-size: 16px;
    font-weight: 400;
    color: $black;
  }
}
