.single-page__body__login-panel__login-form-inner__btn {
  &__icon-facebook {
    color: $white;
    background: $dark-blue;
    font-size: 26px;
    position: absolute;
    top: 50%;
    left: 16px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
}