.single-page__body__form {
  &__box {
    max-width: 320px;
    margin: 0 auto;
  }
  &__group {
    margin: 40px 0 0;
    &--top {
      margin: 0;
    }
    &__label {
      font-weight: 600;
    }
    &__require-mark {
      margin: 0 0 0 8px;
      padding: 2px 4px;
      border-radius: 2px;
      color: $white;
      font-size: 12px;
      vertical-align: top;
      background: $red;
    }
    &__optional-mark {
      margin: 0 0 0 8px;
      padding: 2px 4px;
      border-radius: 2px;
      color: $white;
      font-size: 12px;
      vertical-align: top;
      background: $gray;
    }
    &__input-text {
      height: 48px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid $gray;
      background: $white;
      line-height: 1.5;
      font-size: 16px;
      width: 100%;
      margin: 8px 0 0;
    }
    &__title {
      font-size: 16px;
    }
    &__text {
      line-height: 1.5;
      margin: 8px 0 0;
      padding: 0;
      &--text-center {
        text-align: center;
      }
      &--text-right {
        text-align: right;
      }
      &__link {
        line-height: 1.5;
        margin: 0;
        padding: 0;
        &:hover {
          opacity: .7;
          text-decoration: underline;
        }
      }
    }
    &__recaptcha {
      transform-origin: 0 0;
      transform: none;
      width: 304px;
      height: 78px;
      text-align: center;
      &__image {
        width: 304px;
        height: 78px;
      }
    }
    &__select-wrap {
      position: relative;
      background: $white;
      margin: 8px 0 0;
      display: inline-block;
      width: 100%;
      &__select {
        position: relative;
        z-index: 2;
        height: 48px;
        border-radius: 4px;
        border: 1px solid $white;
        background: 0;
        font-size: 16px;
        line-height: 1.5;
        cursor: pointer;
        width: 100%;
        padding: 0 10px;
      }
      &__icon-arrow-bottom {
        position: absolute;
        right: 12px;
        top: 50%;
        z-index: 2;
        color: $dark-gray;
        font-size: 8px;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
      }
    }
    &__valid-select-wrap {
      &__select-wrap {
        position: relative;
        background: $white;
        margin: 8px 0 0;
        display: inline-block;
        width: 35%;
        &__select {
          position: relative;
          z-index: 2;
          height: 48px;
          border-radius: 4px;
          border: 1px solid $white;
          background: 0;
          font-size: 16px;
          line-height: 1.5;
          cursor: pointer;
          width: 100%;
          padding: 0 10px;
        }
        &__icon-arrow-bottom {
          position: absolute;
          right: 12px;
          top: 50%;
          z-index: 2;
          color: $dark-gray;
          font-size: 8px;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
        }
      }
      &__unit-text {
        margin: 0 2px;
      }
    }
    &__birthday-select-wrap {
      &__select-wrap {
        position: relative;
        background: $white;
        margin: 8px 0 0;
        display: inline-block;
        width: 76px;
        &__select {
          position: relative;
          z-index: 2;
          height: 48px;
          border-radius: 4px;
          border: 1px solid $white;
          background: 0;
          font-size: 16px;
          line-height: 1.5;
          cursor: pointer;
          width: 100%;
          padding: 0 10px;
        }
        &__icon-arrow-bottom {
          position: absolute;
          right: 12px;
          top: 50%;
          z-index: 2;
          color: $dark-gray;
          font-size: 8px;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
        }
      }
      &__unit-text {
        margin: 0 2px;
      }
    }
    &__credit-card-list {
      &__item {
        display: inline-block;
        margin: 0 0 0 8px;
        vertical-align: middle;
        &:first-child {
          margin: 0;
        }
        &__image {
          height: 20px;
        }
      }
    }
  }
  &__info-text {
    color: $dark-gray;
    margin: 8px 0 0;
    line-height: 1.5;
  }
  &__submit-btn {
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
    background: $red;
    border: 1px solid $red;
    color: $white;
    margin: 40px 0 0;
  }
}