.single-page__body {
  &__container {
    background: $white;
    width: 700px;
    margin: 0 auto;
  }
  &__title {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    padding: 32px 16px;
    font-size: 22px;
  }
  &__form {
    border-top: 1px solid $dark-white;
    padding: 40px 16px;
  }
  &__content {
    border-top: 1px solid $dark-white;
    padding: 40px 16px;
  }
  &__login-panel {
    width: 456px;
    margin: 0 auto;
    background: $white;
  }
  &__item_info {
    text-align: center;
    font-weight: bold;
    padding: 16px;
  }
  &__confirm {
    text-align: center;
    font-weight: lighter;
    padding-top: 5px;
    padding-bottom: 16px;
    border-bottom: 1px solid $dark-white;
  }
  &__complete_first {
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 16px;
    background-color: rgb(255, 255, 223);
  }
  &__complete_second {
    text-align: center;
    font-weight: bold;
    padding-top: 16px;
    background-color: rgb(255, 255, 223);
    color: rgb(190, 81, 81);
  }
  &__list {
    font-weight: bold;
    padding-top: 50px;
    padding-left:190px;
    border-top: 1px solid $dark-white;
  }
  &__fix {
    text-align: center;
    padding-top: 16px;
    padding-left:180px;
    padding-bottom: 30px;
    color: rgb(0, 153, 232);
  }
  &__item_content {
    text-align: center;
    font-weight: bold;
    display: inline-block;
    padding-top: 40px;
  }
  &__item_name {
    text-align: center;
    font-weight: bold;
    margin-left: 16px;
    display: inline-block;
  }
  &__receiver_content {
    padding-top: 14px;
    padding-bottom: 50px;
    font-size:14px;
    width: 80%;
    margin: 0 auto;
    max-width: 500px;
    padding-left: 90px;
  }
  &__image{
    width: 60px;
    height: 60px;
    margin-left: 190px;
  }
  &__name_complete {
    text-align: center;
    font-weight: bold;
    margin-left: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid $dark-white;
  }
  &__image_complete{
    width: 60px;
    height: 60px;
    margin-left: 330px;
    display: inline-block;
  }
  &__money{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  &__price_cell{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 180px;
    display: inline-block;
  }
  &__btn_mng{
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
  }
  &__btn {
    margin: 8px 0 0 ;
    background-color: #ea352d;
    color: white;
    width: 320px;
    line-height: 48px;
    font-size: 14px;
    margin-bottom: 50px;
  }
  &__pointbtn {
    margin: 8px 0 0 ;
    background-color: #ccc;
    color: #333;
    width: 320px;
    line-height: 48px;
    font-size: 14px;
  }
  &__flow {
    text-align: center;
    border-top: 1px solid $dark-white;
    padding: 40px 16px;
  }
  &__buy {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    border-bottom: 1px solid $dark-white;
    padding: 40px 16px;
  }
}