.single-page__body__login-panel__login-form-inner {
  &__btn {
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
    position: relative;
    &--facebook {
      margin: 16px 0 0;
      background: $dark-blue;
      color: $white;
      &:first-child {
        margin: 0;
      }
    }
    &--google {
      margin: 16px 0 0;
      background: $white url(google.svg) no-repeat 3px top;
      border: $google-gray solid 1px;
      color: $black;
    }
  }
  &__group {
    margin: 24px 0 0;
    &:first-child {
      margin: 0;
    }
  }
  &__submit-btn {
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
    background: $red;
    border: 1px solid $red;
    color: $white;
    margin: 24px 0 0;
  }
  &__link {
    display: block;
    margin: 40px 0 0;
  }
}