.single-page__body__form__group__birthday-select-wrap {
  &__select-wrap {
    position: relative;
    background: $white;
    margin: 8px 0 0;
    display: inline-block;
    width: 76px;
  }
  &__unit-text {
    margin: 0 2px;
  }
}