.single-page__header__mercari-logo {
  &__link {
    display: inline-block;
    margin: 0 8px 0 0;
    width: 185px;
    height: 49px;
    line-height: 49px;
  }
  &__image {
    width: 185px;
    height: 49px;
  }
}