.main-page__body
  .main-page__body__content
    = render 'users/index/user-info'
    = render 'users/index/notification-todo-box'
    = render 'users/index/item-box'
  = render 'users/sidebar/sidebar'
