%section.main-page__body__content__user
  = link_to '', class: 'main-page__body__content__user__link' do
    %figure.main-page__body__content__user__figure
      = image_tag 'member_photo_noimage_thumb.png', class: 'main-page__body__content__user__figure__image'
    %h2.main-page__body__content__user__name
      = current_user.nickname
    .main-page__body__content__user__review-listing
      .main-page__body__content__user__review-listing__text
        評価
        %span.main-page__body__content__user__review-listing__text__number
          0
      .main-page__body__content__user__review-listing__text
        出品数
        %span.main-page__body__content__user__review-listing__text__number
          0
