.main-page__comment
  .main-page__comment__container
    = form_for item, url: item_path(item.id), method: :post, html: { class: 'main-page__comment__container__form' } do |f|
      %p.main-page__comment__container__form__text
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %textarea.main-page__comment__container__form__input-text
      = f.submit "コメントする", class: "main-page__comment__container__form__submit-btn"