.main-page__item-edit-btn-container
  = link_to '商品の編集', edit_item_path(@item), class: ['main-page__item-edit-btn-container__btn', 'main-page__item-edit-btn-container__btn--edit']
  %p.main-page__item-edit-btn-container__text
    or
  = link_to '商品の公開を停止する', "", class: ['main-page__item-edit-btn-container__btn', 'main-page__item-edit-btn-container__btn--close']
  .main-page__item-edit-btn-container__btn.main-page__item-edit-btn-container__btn--delete
    この商品を削除する
