.main-page__item-container__sales-point-message
  .main-page__item-container__sales-point-message__inner
    = "売上金#{number_to_currency(300, format: "%u%n", unit: "￥")}をお持ちです"
= link_to '購入画面に進む',  buy_confirm_item_path(@item.id), class: 'main-page__item-container__buy-btn'