.main-page__social-media
  %ul.main-page__social-media__box
    %li.main-page__social-media__box__content
      = link_to "", class: "main-page__social-media__box__content__link" do
        %i.fab.fa-facebook-square.main-page__social-media__box__content__icon.main-page__social-media__box__content__icon--facebook
    %li.main-page__social-media__box__content
      = link_to "", class: "main-page__social-media__box__content__link" do
        %i.fab.fa-twitter.main-page__social-media__box__content__icon.main-page__social-media__box__content__icon--twitter
    %li.main-page__social-media__box__content
      = link_to "", class: "main-page__social-media__box__content__link" do
        %i.fab.fa-line.main-page__social-media__box__content__icon.main-page__social-media__box__content__icon--line
    %li.main-page__social-media__box__content
      = link_to "", class: "main-page__social-media__box__content__link" do
        %i.fab.fa-pinterest.main-page__social-media__box__content__icon.main-page__social-media__box__content__icon--pinterest
