%li.main-page__header__nav-box__right-box__list__item.main-page__header__nav-box__right-box__list__item--login
  = link_to "ログイン", new_user_session_path, class: 'main-page__header__nav-box__right-box__list__item--login__btn main-page__header__nav-box__right-box__list__item--login__btn--blue'
%li.main-page__header__nav-box__right-box__list__item.main-page__header__nav-box__right-box__list__item--login
  = link_to "新規会員登録", new_user_registration_path, class: 'main-page__header__nav-box__right-box__list__item--login__btn main-page__header__nav-box__right-box__list__item--login__btn--red'