%li.main-page__header__nav-box__right-box__list__item
  = link_to '', class: 'main-page__header__nav-box__right-box__list__item__root' do
    %figure.main-page__header__nav-box__right-box__list__item__root__user-icon
      .main-page__header__nav-box__right-box__list__item__root__user-icon__image-wrap
        = image_tag '/images/member_photo_noimage_thumb.png', class: "main-page__header__nav-box__right-box__list__item__root__user-icon__image"
    %span.main-page__header__nav-box__right-box__list__item__root__text
      マイページ
  .main-page__header__nav-box__right-box__list__item__item-box.main-page__header__nav-box__right-box__list__item__item-box--mypage
    = render 'shared/main-page/main-header/mypage/header'
    = render 'shared/main-page/main-header/mypage/nav-list'
