%li.main-page__header__nav-box__right-box__list__item
  = link_to '', class: 'main-page__header__nav-box__right-box__list__item__root' do
    = fa_icon 'check', class: 'main-page__header__nav-box__right-box__list__item__root__icon main-page__header__nav-box__right-box__list__item__root__icon--check'
    %span.main-page__header__nav-box__right-box__list__item__root__title
      やることリスト
    .main-page__header__nav-box__right-box__list__item__root__unread-number
      10
  %ul.main-page__header__nav-box__right-box__list__item__item-box
    = render 'shared/main-page/main-header/todo/todo'
