%main.single-page__body
  %section.single-page__body__container
    %h2.single-page__body__title
      会員登録完了
    .single-page__body__content
      .single-page__body__content__box
        %p.single-page__body__content__text
          ありがとうございます。
          %br
          会員登録が完了しました。
        = link_to 'メルカリを始める', root_path, class: 'single-page__body__content__btn'
