%nav.single-page__header__progress-bar
  %ol.single-page__header__progress-bar__list
    - t('progress_bar_text').each.with_index(0) do |text, i|
      %li{ class: progress_bar_item_name(i, page_number, "single-page__header__progress-bar__item") }
        = text
        %div{ class: progress_bar_status_name(i, page_number, "single-page__header__progress-bar__item__status") }
