.single-page
  %header.single-page__header
    = render 'shared/single-page/header/single-page__header__mercari-logo'
    = render 'users/registrations/header__progress-bar'
  = render 'users/registrations/confirm_body', { user: @user }
  = render 'shared/single-page/single-page__footer'